## Regression with neural network

In [6]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv('insurance.csv')
data.head()
#Set Hyperparameters
learning_rate = 0.01
steps = 2000
disp = 100

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [19]:
#Training data
print(data[['age','sex','bmi','children','smoker','region']])

train_pred = data[['age','sex','bmi','children','smoker','region']]
train_y = data[['charges']]
samples = train_pred.shape[0]

features = list(train_pred.columns)
label = "charges"
#This is the column for tensorflow
feature_cols = [tf.contrib.layers.real_valued_column(k) for k in features]

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
5      31  female  25.740         0     no  southeast
6      46  female  33.440         1     no  southeast
7      37  female  27.740         3     no  northwest
8      37    male  29.830         2     no  northeast
9      60  female  25.840         0     no  northwest
10     25    male  26.220         0     no  northeast
11     62  female  26.290         0    yes  southeast
12     23    male  34.400         0     no  southwest
13     56  female  39.820         0     no  southeast
14     27    male  42.130         0    yes  southeast
15     19    male  24.600         1     no  southwest
16     52  female  30.780         1     no  northeast
17     23    male  23.845         0     no  northeast
18     56    male  40.300         0     no  southwest
19     30    male  35.300         0    yes  southwest
20     60  female  36.005         0     no  northeast
21     30  female  32.400         1     no  southwest
22     18    male  34.100         0     no  southeast
23     34  female  31.920         1    yes  northeast
24     37    male  28.025         2     no  northwest
25     59  female  27.720         3     no  southeast
26     63  female  23.085         0     no  northeast
27     55  female  32.775         2     no  northwest
28     23    male  17.385         1     no  northwest
29     31    male  36.300         2    yes  southwest
...   ...     ...     ...       ...    ...        ...
1308   25  female  30.200         0    yes  southwest
1309   41    male  32.200         2     no  southwest
1310   42    male  26.315         1     no  northwest
1311   33  female  26.695         0     no  northwest
1312   34    male  42.900         1     no  southwest
1313   19  female  34.700         2    yes  southwest
1314   30  female  23.655         3    yes  northwest
1315   18    male  28.310         1     no  northeast
1316   19  female  20.600         0     no  southwest
1317   18    male  53.130         0     no  southeast
1318   35    male  39.710         4     no  northeast
1319   39  female  26.315         2     no  northwest
1320   31    male  31.065         3     no  northwest
1321   62    male  26.695         0    yes  northeast
1322   62    male  38.830         0     no  southeast
1323   42  female  40.370         2    yes  southeast
1324   31    male  25.935         1     no  northwest
1325   61    male  33.535         0     no  northeast
1326   42  female  32.870         0     no  northeast
1327   51    male  30.030         1     no  southeast
1328   23  female  24.225         2     no  northeast
1329   52    male  38.600         2     no  southwest
1330   57  female  25.740         2     no  southeast
1331   23  female  33.400         0     no  southwest
1332   52  female  44.700         3     no  southwest
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]